@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}
/* a{
    text-decoration: none;
    color: white;
} */
.main{
    
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    opacity: 0.9;
}
/* The navigation bar */

.navbar{
  background-color: #424342;
  top: 0;
  border: none;
  width: 100%;
 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  /* overflow: hidden; */
  /* background-color: #424342; */
}

.navbar ul li{
  display: inline-block;
  padding: 8px 0px;

}


.navbar ul li a{
color: #BCFD4C;
text-align: left;
padding: 12px;
text-decoration: none;
font-size: 18px;
border: none;
display: inline;
cursor: pointer;

}
.navbar ul li a:hover {
  background-color: #056dbc; 

  padding-bottom: 17px;
}
  
  .block {
    padding: 16px;
    height: 1500px; /* Used in this example to enable scrolling */
  }

  .huwar{
    color: #BCFD4C;
  }
  
 .huwar button:hover{
    background-color: #BCFD4C;
    color: rgb(0, 0, 0);
}

.hmrbtn {
    background-color: #605c5c;
    color: white;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hmrbtn:hover{
    background-color: #BCFD4C;
    color: rgb(0, 0, 0);
}