body{

    background-repeat: no-repeat;
    background-position: 550px 100px;
    background-color: rgb(208, 252, 248);
    
}
.dabbao{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.text{
   
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: auto;
    color: rgb(89, 83, 151);
    font-size: 40px;
    position:relative;
    top: 10px;
    left: 30px;

}
.thought{
   
    width: 470px;
    height: auto;
    position:relative;
    top: 100px;
    left: 30px;
    font-size: 28px;
    /* border: 2px solid black; */
    border-radius:20px;
}
.btn{
    display: flex;
    /* border: 2px solid black; */
    width: 45%;
    height: 65px;
    margin-top: 200px;
    margin-left: 5%;
}
.btn button{
    margin: 0px 50px;
    widows: 200px;
    border: 3px solid rgb(52, 170, 160);
    border-radius: 12px;
    background: none;
}
.btn button:hover{
    box-shadow: 6px 6px 5px rgb(52, 170, 160);
    
}