
*{
font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5{
font-family: 'Coda', cursive;
font-family: 'Roboto', sans-serif;
}


#mail{
    border: 2px solid black;
    width: 50px;
    height: 50px;
   box-sizing: border-box;

}
.fa-solid{
    margin-left:15px;
    margin-bottom: -50px;
}

/* body */

body{
margin: 0;
}

.uni-padding{
    padding: 0 7%;
}


/* topbar */

#topbar{
background-color: #6E6E6E;
padding-top: 8px;
padding-bottom: 8px;
overflow: auto;
box-sizing: border-box;

}

#logo{
    margin: 0;
    color: white;
    width: 80px;
    height: 51px;
    box-sizing: border-box;
    float: left;
    background-size: cover;
    border-radius: 10px;
  
}

#social-icons{
float: right;


}
.fa-brands{
background-color: #fefffc;
color: #576574;
padding: 7px;
border-radius: 50px;
}
.fa-facebook-f{
padding: 7px 10px;

}
.fa-facebook-f:hover,.fa-whatsapp:hover,.fa-twitter:hover,.fa-instagram:hover,.fa-linkedin-in:hover{ 
transform: translateY(-5px); 
}

/* #logo img{
width: 150px;
margin: 20px 0px;
} */

/* navbar */


#navbar{
background-color: #424342;

}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424342;
}

#navbar ul li{
    display: inline-block;
    padding: 18px 0px;
    padding-right:20px ;
}


#navbar ul li a{
color: #BCFD4C;
background-color: #424342;
text-align: left;
padding: 16px;
text-decoration: none;
font-size: 16px;
border: none;
display: inline;
cursor: pointer;

}
#navbar li a:hover {
    background-color: #056dbc;
    cursor: pointer;
}

#login{
    float: right;
    color: black;
    background-color: #BCFD4C;
    padding: 10px;
    border-radius: 50%;
    margin-top: 6px;
    box-sizing: border-box;
}
#signup{
    color: black;
    background-color: #BCFD4C;
    padding: 10px;
    border-radius: 50%;
    margin-top: 6px;
    box-sizing: border-box;
}
#log{
    display: inline;
    float: right;
}

.fa-right-to-bracket:hover,.fa-user-plus:hover{
    transform: translateY(-5px); 
    
}






/* footer */

#imp-links{
color: white;
background-color : #605c5c;
overflow: auto;
}
.div33{
width: 33.33%;
float: left;
padding: 25px 30px;
box-sizing: border-box;
}


.div33 h3{
text-decoration: underline;
text-underline-offset: 10px;
text-decoration-thickness:2px ;
font-weight:20px;
color: #9ffa02;
}

#menu{
list-style-type: none;
padding: 0px;

}

#menu  li {
padding-bottom: 10px;
}
#menu li a{
color: white;
text-decoration: none;
}


#copyright{
background-color: #222f3e;
color: #BCFD4C;
padding: 1px;
text-align: center;


}

/* content1 */
#content{

/* background-image: url(../images/bck.jpg); */
background-repeat: no-repeat;
background-position: center;
height:600px ;
background-size: cover;
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;


}


#about{
margin-top: -25px;
background-color: #c8c9ce;
font-size: 18px;
}
#about h1{
text-decoration: underline;
text-underline-offset: 5px;
}



/* content 2 */

#content2{
   margin: 70px 0px;
    overflow: auto;
}
.section25{
    width: 25%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    
}
.hmrimg{
    
    height: 250px;
    width: 270px;
    border-radius: 16px;
}
.section25 h3{
    text-decoration: underline;
    text-underline-offset: 7px;
    font-weight: 900;
}
.section25 img:hover{
    transform: translateY(-5px); 
}

/* content 3 */

#content3{
    background-color: #51555d;
    overflow: auto;   
}
#content3 h2{
    float: left;
}
#box{
    margin-top: 20px ;
    float: right;
}

#box input{
    padding: 8px;
    width: 220px;
    border-radius: 10px;
    /* box-sizing: border-box; */
}
#box button{
    text-decoration: none;
    font-size: 17px;
    background-color: #BCFD4C;
    color: rgb(10, 10, 10);
    border-radius: 10px;
    padding: 6px 12px;
    /* box-sizing: border-box; */

}

#box button:hover{
    background-color: #c7f680;
    cursor: pointer;
}





