
  @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poltawski+Nowy&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poltawski+Nowy&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poltawski Nowy', serif;
}

.navbar{
    width: 100%;
    height: 159px;
    /* border: 2px solid black; */
    /* position: fixed; */
}
.nav{
    width: 60%;
    height: 65px;
    /* border: 2px solid red; */
    margin: 0 auto;
    /* margin-top: 20px; */
    display: flex;
}
#up{
margin-top: 20px;
height: 95px;
}
.left{
    height: 65px;
    width: 10%;
    /* border: 2px solid yellow; */
    padding: 0;
}
.middle{
    width: 42%;
    height: 65px;
    /* border: 2px solid yellow; */
    margin-left: 20%;
    display: flex;
    position: relative;
    /* color:  rgb(17 17 71); */
}
.right{
    width: 10%;
    height: 50px;
    /* border: 2px solid yellow; */
    margin-left: 16%;
}
.left img{
    display: block;
    height: 50px;
    width: 80%;
}
/* .p2{
    /* color: rgb(17 17 71) */
/* } */ 
.mid{
    width: 45%;
    height: 65px;
    /* border: 2px solid tomato; */
    display: flex;
}
#call{
    margin-left: 10%;
}
.lg{
    /* border: 2px solid black; */
    color: rgb(255, 75, 9);
    margin: auto 0;
}
.inf{
    /* border: 2px solid green; */
    margin: 5%;
}
.pe{
    font-weight: bolder;
    font-size: 20px;
    
}
.right button{
    height: 80%;
    width: 120%;
    font-weight: bolder;
    background-color: rgb(255, 75, 9);
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
#down{
background-color: rgb(17 17 71);
color: white;
}
.menu{
    /* border: 2px solid green; */
    height: 65px;
    width: 48%;
    color: white;
}
.search{
    border: 2px solid white;
    height: 55px;
    width: 25%;
    margin-left: 22%;
    position: relative;
    color: white;
    margin-top: 5px;
    border-radius: 30px;
}
.menu ul{
display: flex;
height: 20px;
/* border: 2px solid black; */
margin-top: 18px;
}
.menu ul li{
   list-style: none; 
}
.menu ul li a{
  text-decoration: none;
  margin: 0px 13px; 
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.search input{
    height: 50px;
    margin-left: 12%;
    font-size: 15px;
    color: white;
    background: none;
    border: none;
}
.elimentcontainer{
    color: white;
}
.search a{
    color: white;
}
.slider{
    margin-top: 0;
    width: 100%;
    height: 570px;
    /* border: 2px solid black; */
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poltawski Nowy', serif;
}
.slide{
   width: 20%;
   transition: 2s;
}
.slides{
    width: 500%;
    height: 560px;
    display: flex;
    
}
.slides input{
    display: none;
}
#s1 h1{
    color: white;
    font-size: 55px;
}

.manual{
position: absolute;
width: 100%;
margin-top: 495px;
display: flex;
justify-content: center;
}
.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background: white;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: rgb(255, 75, 9);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/* .automatic{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 445px;
    margin-left: 27px;
}
.automatic div{
    position: absolute;
    /* border: 2px solid black; */
    /* padding: 5px;
    border-radius: 10px;
    transition: 1s;
} */ */
#radio1:checked ~ .automatic .auto-btn1{
    margin-left: 0;
}
#radio2:checked ~ .automatic .auto-btn2{
    margin-left: -20%;
}
#radio3:checked ~ .automatic .auto-btn3{
    margin-left: -40%;
}
#radio4:checked ~ .automatic .auto-btn4{
    margin-left: -60%;
}
.othercon{
    width: 100%;
    height: 220px;
    /* border: 2px solid black; */
    display: flex;
    color: white;
}
.box{
    width: 25%;
    height: 220px;
    /* border: 2px solid red; */
}
.l{
    height: 40%;
    width: 100%;
    /* border: 2px solid green; */
    font-size: 15px;
  
}
.h{
    height: 20%;
    width: 100%;
    /* border: 2px solid green; */
}
.p{
    height: 40%;
    width: 100%;
    /* border: 2px solid green; */
}
#b1{
    background-color: rgb(255, 75, 9);
}
#b2{
    background-color: rgb(17 17 71);
}
#b3{
    background-color: rgb(255, 75, 9);
}
#b4{
    background-color: rgb(17 17 71);
}
.l img{
  margin-left:  28%;
  margin-top: 10px;
  width: 40%;
  height: 80%;
  
}
.h h4{
    text-align: center;
}
.p p{
    padding: 10px 30px;
}

.slidecontent{
    width: 100%;
    height: 560px;
}
#s1{
    background: url(S1.jpg) no-repeat center center;
    background-size: cover;
}
#s2{
    background: url(S2.jpg) no-repeat center center;
    background-size: cover;
}
#s3{
    background: url(S3.jpg) no-repeat center center;
    background-size: cover;
}
#s4{
    background: url(S4.jpg) no-repeat center center;
    background-size: cover;
}
.info{
    /* border: 2px solid black; */
    height: 100%;
    width: 25%;
    margin-left: 10%;
    padding: 50px 20px;
    color: rgb(17 17 71);
}
.info button{
    height: 40px;
    width: 100px;
    background-color: rgb(255, 75, 9);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
}
.info p{
   margin-top: 20px;
   /* color: white; */
}
#s2 p{
   font-size: 20px;
}
#s4 p{
    color: white;
}
#s1 p{
    font-size: 19px;
    color: solid black;
}